html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active-text{
  color: white;
}

.active-icon{
  color: #FF0080;
}

.side-bar-item{
  color: gray;
  font-size: large;
}

.side-bar-item p{
  margin-left: 1em;
}

.side-bar-item:hover p{
  color: white;
}

.side-bar-item:hover svg{
  color: #FF0080;
}

.side-bar-item:not(:last-child){
  margin-bottom: 1.5em;
}

.credit-card-table{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.credit-card-table tr{
  cursor:pointer;
  margin: 0.5em 0;
  display: block;
  padding: 0.5em;
  transition:ease-in-out 0.3s;
  border-radius: 10px;
}

.credit-card-table tr:hover{
  background:  #edeaea;
  padding-left: 1.2em;
}

.active-card{
  background:  #edeaea;
  padding-left: 1.2em !important;
}